[2016-01-11 14:20] gavanderhoorn opened #3 "Add travis config."
As per subject.

[2016-02-06 08:14] #3 closed, assigned to nobody

[2016-04-01 09:58] gavanderhoorn opened #7 "gazebo: give 'remap' launch arg a more descriptive name"
The `*_gazebo.launch` files currently expose a `remap` argument that, when `true`, remap the default topics from the `gazebo_ros` plugin (and friends) to the ROS-Industrial driver spec compliant ones.

`remap` is too generic a name, and should be changed into something which more clearly conveys its purpose / effect.

[2016-04-01 09:59] gavanderhoorn commented on #7
Launch files in `rx160_gazebo` and the to-be-introduced `tx90_gazebo` packages (see #6) are affected.

[2016-04-01 17:38] gavanderhoorn opened #8 "gazebo: check 'turnGravityOff: true' for all models"
All Gazebo models currently have `<turnGravityOff>true</turnGravityOff>` configured for all links. It's unclear why that is, and if possible it should be changed, as it seems undesirable.

[2016-04-08 06:38] gavanderhoorn opened #9 "gazebo: explicitly mention Gazebo versions pkgs have been tested with / setup for"
Breaking changes introduced when going from v2 to v5 (v6/v7) should be accounted for. Explicitly stating the compatible versions will avoid a lot of frustration.

[2016-07-08 15:24] gavanderhoorn opened #11 "ci: travis always fails because staubli pkgs haven't been released"
See [ros-industrial/staubli_experimental/builds/143354933](https://travis-ci.org/ros-industrial/staubli_experimental/builds/143354933) fi.

[2016-07-08 15:25] gavanderhoorn commented on #11
Related: ros-industrial/industrial_ci#73.

[2016-07-11 09:00] gavanderhoorn commented on #11
Fixed with the merge of #12.

[2016-07-11 09:00] #11 closed, assigned to nobody

[2016-07-11 09:03] gavanderhoorn opened #13 "val3_driver: readme needs to be updated after merge into main repository"
The [current version](https://github.com/ros-industrial/staubli_experimental/blob/f2259556476990aae2d5340daa60484bad38d871/staubli_val3_driver/README.md) of `README.md` needs to be updated:
- refers to non-existent directory: `val3_driver`
- instructs user to clone from `ocadotechnology` fork instead of main repository
- refers to non-existent `val3_server-devel` branch

[2016-07-11 09:10] gavanderhoorn opened #14 "val3_driver: remove magic numbers"
The current `staubli_val3_driver` VAL3 sources contain quite a few magic numbers ([here](https://github.com/ros-industrial/staubli_experimental/blob/50c753b99f7acab0dd61b8cca30f9c9d32e5edc0/staubli_val3_driver/val3/ros_server/dataReceiver.pgx#L44), [here](https://github.com/ros-industrial/staubli_experimental/blob/50c753b99f7acab0dd61b8cca30f9c9d32e5edc0/staubli_val3_driver/val3/ros_server/pushMot

[2016-07-11 09:17] gavanderhoorn opened #15 "val3_driver: create ROS wiki page"
The `README` already contains quite some information, but is not the first place most users would look to for instructions on installation and usage.

It would be good to expand the ROS wiki page for `staubli_val3_driver` to include things such as minimum version of VAL3 supported, compatible controllers, information on compatible manipulators, etc.

See [fanuc_driver](http://wiki.ros.org/fanuc_dr

[2016-07-11 09:20] gavanderhoorn commented on #15
Alternatively, we might want to invest in writing Sphinx-based documentation for the `staubli` packages.

That would have a nr of advantages over the ROS wiki (versioning with source, easier on resources, target multiple output formats with a single source, responsive layout, etc). A disadvantage is less integration (and visibility?) with the ROS wiki.

See also ros-industrial/fanuc#148.

[2016-08-05 10:54] gavanderhoorn opened #16 "val3_driver: add runtime check for minimal VAL3 version"
If possible, this would make sure that the VAL3 runtime version is at least `s7.7.2`, to make sure the required `sioGet(..)` functionality is present.

Better: implement some form of feature detection instead of checking for versions (would be more robust), but it's unclear whether that is possible with `sioGet(..)` and the other functions used.

[2016-11-13 09:33] gavanderhoorn commented on #13
@MuriloMartins: do you think you can take care of this one? Use of this repository is increasing, and I'd rather people clone the main repository than the `ocadotechnology` fork (fi).

[2016-11-14 08:08] MuriloMartins commented on #13
@gavanderhoorn please see PR #17.

[2016-11-15 08:23] gavanderhoorn commented on #13
Fixed in #17.

[2016-11-15 08:23] #13 closed, assigned to nobody

[2016-11-15 08:23] gavanderhoorn commented on #13
Thanks @MuriloMartins for the fix.

Bit early, but: :beers: :)

[2016-11-15 08:27] MuriloMartins commented on #13
:+1:

[2018-03-06 15:56] nilsmelchert opened #18 "Addition of the staubli tx60"
I will add the tx60 robot to this rebository locally on my machine. If you wish, we could migrate it to the existing "staubli_experimental"-Repository?

[2018-03-06 16:06] gavanderhoorn commented on #18
Hi.

Contributions of new robot support packages are always welcome, yes. A PR contributing support for the TX60 series would be much appreciated.

Are you basing your work on one of the existing packages?

In that case, please consider using some of the newer 'best practices' for xacro macros shown in [this file](https://github.com/ros-industrial/fanuc_experimental/blob/6462dd3154aefe96252a4997ae

[2018-03-06 17:41] nilsmelchert commented on #18
Yes, I was going to base my work on the TX90.

- What is the purpose of the link `base` when `base_link` is already definied?

- What is the purpose of `flange`? Isn't `tool0` already the attachment point for tools, which are connected to the endeffector?

I will try to follow the given conventions as good as i can. Since I am already working with the TX90 Robot, I could also update these 'newer c

[2018-03-06 20:44] gavanderhoorn commented on #18
re: `base` and `flange`: please see [Coordinate Frames for Industrial Manipulators](https://github.com/gavanderhoorn/rep/blob/coord_frames_ind_robots/rep-xxxx.rst) for now. It's a draft, but there will be a REP about these frames, documenting their use and why we feel those make sense.

[2018-03-06 20:45] gavanderhoorn commented on #18
@nilsmelchert wrote:

that is a good idea, but let's focus on the new additions first. If/when we get the updates sorted out with the TX60, we can take a look at the TX90 variants.

[2018-03-09 11:47] nilsmelchert commented on #18
I forked the staubli_experimental repository and created a new branch. I am almost done, migrating the tx60 series. But there is a little thing, that I am still uncertain about:

In the package `fanuc_m20ib_support` both, `tool0` and `flange` are child links of `link_6`.
Wouldn't it make more sense, if the frame `tool0` would be a child of `flange`?

[2018-03-09 11:55] gavanderhoorn commented on #18
@nilsmelchert wrote:

Yes, it would.

The REP already specifies it that way, but this was one of the discussion points. There are *some* (ref needed) robot brands that have `tool0` defined relative to the intersection of `joint_4`, `joint_5` and `joint_6` (or the `link`s of those, in a urdf). With those in mind, I allowed `flange` and `tool0` to be siblings and both children of `link_6`.

Followin

[2018-03-09 12:14] nilsmelchert commented on #18
Ok thanks.

I was also wondering about the orientation of `flange`. It is said, that

I am not quiet sure about in what direction i should position the `flange` frame. Even though it says `Positive X must always point away from the last link`, it doesn't seem to be clearly defined to me.

[2018-03-09 12:25] gavanderhoorn commented on #18
That particular phrasing is currently under review as well, and I will probably add a diagram to clarify it.

For a robot where the last link already follows `REP-103` (so zero-pose has robot wrist aligned with `x+`, typically the case for industrial robots), `flange` is expected to be coincident with `link_6` (ie: identity transform). For a robot that in its zero-position is straight-up (ie: poin

[2018-03-09 12:39] nilsmelchert commented on #18
Ok thanks.
So I changed the orientation of `flange`.
Since `tool0` is a child of `flange`, its orientation has to be changed again, so that its z-axis points upwards when the robot is in its all-zero-position right? In other words `tool0` should be -90 degrees rotated over y?

[2018-03-09 12:43] gavanderhoorn commented on #18
`tool0` should follow Staübli's definition. If I recall correctly, Staübli has toolframes with `z+` sticking out of the robot flange, so `tool0` would need a `+90` degree rotation over y (provided that `x+` of `flange` is now world-aligned).

The zero-pose of a `tx60` is similar to that of the tx90, is it not?

[2018-03-09 12:53] nilsmelchert commented on #18
That's correct.

I think, I am done now. The only thing I am still struggling with, is the update of the information of the package.xml-file:
- can't find the effort limits of the robots
- don't know the current version of instruction manual

Are you able to add the missing information?

[2018-03-09 12:54] gavanderhoorn commented on #18
What was your source for the joint limits and kinematic structure of your support package? Just list that.

As to the effort limits: they should be listed in the documentation that came with your robot / can be found on Staübli's website.

[2018-03-09 13:01] gavanderhoorn commented on #18
Btw: the inertias and masses in the xacros of the tx90 are estimates from SolidWorks. Did you update those for the tx60?

If you don't have data for your robots, then please leaves those elements out (or use some sane defaults/guestimates), as reusing them is probably not a good idea.

[2018-03-09 13:12] nilsmelchert commented on #18
I used [this](https://www.staubli.com/en-de/file/5285.show) Information for the joint limits, max. velocities and for the kinematic structures. It is the data sheet from the official website from Stäubli.

Concerning the effort limits, I will see if i can find them and then add the information the the package.xml-file.

I have not updated the inertias and masses of the tx60 series yet. But I will

[2018-03-09 13:14] gavanderhoorn commented on #18
The datasheet you link is for the `TX2` line (or at least: those are shown on the second-to-last page). I haven't checked, but are those identical to the `TX` line? If not, we would need to reflect that in the package name.

[2018-03-09 13:27] nilsmelchert commented on #18
To be honest, since I am german, I used the [german version](https://www.staubli.com/de-de/file/5285.show) of the datasheet.
The data sheet of the `TX2` line seems to be identical to the `TX` line.

Do you want me to mention that somewhere?

[2018-03-09 13:29] nilsmelchert commented on #18
Did you use the [SolidWorks to URDF Exporter](http://wiki.ros.org/sw_urdf_exporter) to calculate the inertia, mass, and center of mass of certain robot links?

[2018-03-09 13:30] gavanderhoorn commented on #18
If the TX2 is mechanically, kinematically and dynamically identical to the TX, then we don't need to create a separate package, but can just refer users looking for TX2-60 support to the `staubli_tx60_support` package. This can be noted in `package.xml` and the readme.

If there are differences, and you've actually been modelling the TX2-60, then it might make sense to change the name of the packa

[2018-03-09 13:31] gavanderhoorn commented on #18
@nilsmelchert wrote:

No, or at least, not me personally. The `TX90` and `RX160` packages were created partly by contributors (@MuriloMartins fi) and they used SolidWorks without any plugins afaik.

Note also that until some recent version, IIRC, that plugin had a bug in the inertia tensor calculation, so make sure to use a recent version if you plan on using it.

[2018-03-09 13:34] gavanderhoorn commented on #18
If you don't use these packages for dynamic simulations, you may not need to add those elements. It would be nice to have them, but I can imagine that if you don't use it, it's going to be hard to verify that you've got something sane.

In that case, it would also be ok to submit your PR without any dynamics properties in the xacros.

Those can always be added later.

[2018-03-09 13:45] nilsmelchert commented on #18
No, I am sure, that i modeled the tx60 series. There is a mistake in the english version of the datasheet naming the robot version. I just called stäubli and they confirmed it. (To correct what I just said before: The dimensions of the `tx` and `tx2` series are **NOT** the same.)

I will use the gazebo simulation and will add the dynamics information for the tx60 series.

[2018-03-12 08:06] nilsmelchert commented on #18
What material is good to chose to get the inertia matrix and the mass of the robot link?
Pure steel seems to be a little bit too heavy.

[2018-03-12 08:59] gavanderhoorn commented on #18
Yes, that is one of the difficult choices when using SolidWorks for this, unless the mfg has assigned materials.

I'm not sure what the best approach would be.

You could perhaps see whether you can find some publications about system identification of a Staubli TX60. I know there are for TX90.

[2018-03-12 09:24] nilsmelchert commented on #18
There is no publication of a system identification of the tx60 series online, that i found.
My suggestion would be to use the identified Mass of the tx90 and calculate the density of certain links. Since I the tx90 and tx60 series are very similar, that should lead to satisfying results (at least at first).
What do you think?

[2018-03-12 09:48] gavanderhoorn commented on #18
Sounds like a good first approach, yes.

You could even try and see whether Staübli would be willing to provide you with the link masses. Just don't mention you're going to do any sort of dynamic simulations with that information. They don't like that too much.

[2018-03-12 10:08] nilsmelchert commented on #18
What approach did you use for the rx160?

I will see if i can get any information from the saubli support.

[2018-03-12 10:21] gavanderhoorn commented on #18
@MuriloMartins and his colleagues used SolidWorks with some guesses for the materials. I only modelled the kinematics.

See ros-industrial/staubli#15.

[2018-03-12 15:31] nilsmelchert commented on #18
@MuriloMartins entered the same inertias and masses for the whole tx90 series, which can't be right.
I just talked to staubli and they won't give me the inertias and masses of the robot links unless I sign a contract, that I won't publish them.

As a first approach, I will calculate the inertias as I mentioned before.

What will be the next step when I am done? Can we add my "staubli_tx60_support"

[2018-03-12 15:41] gavanderhoorn commented on #18
well, I expected that. And I probably wasn't clear: talking about inertias is immediately a 'red flag' to Staübli. But asking for the masses of the links could perhaps have been general enough to not make Staübli immediately reach for an NDA.

If you submit a PR against the repository with your changes, we'll start a proper review. If that is approved, it can be merged.

[2018-03-13 08:49] nilsmelchert commented on #18
I was actually only asking for the masses. But I will anyways do a system identification for the tx60 in the future and can add this information later on to the repository.

[2018-03-13 11:51] nilsmelchert commented on #18
Seems like @MuriloMartins assumed the density of all robot links of the tx90 to be exactly 1000 kg/m^3.

I will make the same assumption for the tx60 series.

[2018-03-13 16:41] nilsmelchert commented on #18
I think the `staubli_tx60_support` package is ready to be reviewed.

[2018-03-13 17:23] gavanderhoorn commented on #18
Then I suggest you submit a pull request.

[2018-03-14 07:21] nilsmelchert commented on #18
Done.

Let me know if I can help.

[2018-03-15 12:10] nilsmelchert commented on #18
Are you the one who is going to review my work?

[2018-03-15 12:11] gavanderhoorn commented on #18
Yes.

I will do it, just have a lot of other things to do as well.

I've not forgotten your PR :)

[2018-03-21 07:26] nilsmelchert opened #20 "Update and removal of deprecated syntax for the staubli_tx90_support package"
I was making a couple of changes on my private repository, deleting some deprecated syntax of the `staubli_tx90_support` package and added some updates:

- Replacing xacro.py with xacro and adding --inorder

- Unify the naming conventions of `xmlns:xacro="http://wiki.ros.org/xacro"` in the xacro files

- Removing the `--shutdown-timeout 1` entry from `joint_state_controller.yaml`

- Addition of th

[2018-03-21 07:29] nilsmelchert opened #21 "When will staubli_experimental be migrated to the staubli repository?"
When will [staubli_experimental](https://github.com/ros-industrial/staubli_experimental) be migrated to the [staubli](https://github.com/ros-industrial/staubli) repository? What kind of testing has to be done in order to to that?

[2018-03-21 16:20] gavanderhoorn commented on #20
Yes, that would be great to have as a PR.

We could also look at adding the `flange` and `base` frames to the `rx160` package.

[2018-03-21 16:21] gavanderhoorn commented on #20
As to branching, we can do that, but it might be nice if we could see whether we can come up with a way to fix things for Kinetic while maintaining compatibility with Indigo.

I think you mean in some launch file, as `yaml` files don't typically contain these things.

[2018-03-21 16:22] gavanderhoorn commented on #18
Now that #19 has been merged, we can close this one.

[2018-03-21 16:22] #18 closed, assigned to nobody

[2018-03-21 16:25] gavanderhoorn commented on #21
The package itself will not be migrated, as that doesn't make much sense, but individual packages in the repository may be migrated after they've seen 'enough use'. That is a somewhat qualitative (and admittedly vague) criterium, but unfortunately there's not a very concrete way to define when these packages are 'good enough'.

Validation and verification wrt real robots can be done, but takes tim

[2018-03-21 16:25] gavanderhoorn commented on #21
See also ros-industrial/staubli#23 (but that will be withdrawn).

[2018-03-22 11:23] nilsmelchert commented on #20
Done. I did a PR for `staubli_experimental` #22 and one for the `staubli` package (see [#25](https://github.com/ros-industrial/staubli/pull/25) at the `staubli` package).

[2018-03-22 11:29] nilsmelchert commented on #20
Correct. I meant the `control.launch` file from the gazebo packages.

[2018-03-22 14:46] gavanderhoorn commented on #21
As this is not really an issue with the pkgs in this repository, I'll close this issue.

You're more than welcome to keep commenting on it though.

[2018-03-22 14:46] #21 closed, assigned to nobody

[2018-03-23 18:52] nilsmelchert opened #23 "MoveIt packages for the tx60 and tx90 series"
Are there any guidelines besides [this](http://wiki.ros.org/Industrial/Tutorials/Create_a_MoveIt_Pkg_for_an_Industrial_Robot) one about how the MoveIt packages for robots in ROS-I should look like?
In [staubli](https://github.com/ros-industrial/staubli) there are already MoveIt packages for the tx160 series available. Should they also be created for the tx90 and tx60 series?

[2018-04-06 17:44] gavanderhoorn commented on #23
@nilsmelchert wrote:

No, that is (unfortunately) the only document giving some hints at the moment.

I would recommend to mimic the configuration of the RX160 closely.

We could definitely add some for those series as well. The reason we've been hesitant in the past with this is that we don't expect a lot of people to actually reuse MoveIt packages: you would have to either create a new one if yo

[2018-04-09 11:54] #23 closed, assigned to nobody

[2018-04-09 11:54] #20 closed, assigned to nobody

[2018-04-24 10:45] nilsmelchert opened #25 "val_3 driver: rough and jerky trajectories"
After working a while with `ros kinetic` and the `val_3 driver` in the `staubli_experimental` package, I figured that the executed trajectories of the real robot are not running very smoothly. Especially in the end of an executed path the movement is quite chopped.
Did also experience the same thing? Could there be a problem with the driver? Or is there a problem with the `ompl` library?

[2018-04-24 10:49] gavanderhoorn commented on #25
The driver could always play a role (it hasn't been tested *very* extensively, partly why it is in an experimental repository), but if you're using Kinetic and MoveIt, you may be running into ros-planning/moveit#416 or related issues.

See ros-industrial/kuka_experimental#126 for a possibly related issue, and some links to relevant other issues.

I'm not saying this is the cause of what you're see

[2018-04-25 07:14] nilsmelchert commented on #25
By clipped I meant very jerky.

Yes [ros-planning/moveit#416](https://github.com/ros-planning/moveit/issues/416) seems to describe exactly  the behaviour of my trajectories. I would guess that the content of the second comment in [this answer](https://github.com/ros-planning/moveit/issues/416#issuecomment-273718781) could be a reason for the jerky trajectory execution.

[2018-04-25 07:23] gavanderhoorn commented on #25
Thing is, the time parameterisation code hadn't changed much (at all actually) between Indigo and Kinetic, until ros-planning/moveit#441 got merged. That seemed to point to *something else* that was interfering here. As you can read further down in ros-planning/moveit#416, it would seem that changes to OMPL itself have introduced this. This was reported in [bitbucket/ompl/ompl#309](https://bitbuck

[2018-04-28 17:54] gavanderhoorn commented on #25
According to the latest comments on ros-planning/moveit#416, the issue with OMPL is now fixed and is going to be backported to Kinetic.

[2018-04-28 18:12] nilsmelchert commented on #25
Thank you very much! I will close this Issue now.

[2018-04-28 19:11] nilsmelchert commented on #25
When will I be able to update the fix for this Problem? Will it be updatable in the apt-tree or would I have to apply the changes myself with some kind of patch which will be published?

What are the next steps?

[2018-04-28 19:16] gavanderhoorn commented on #25
The fix first needs to be verified. Then it needs to be backported to Kinetic. MoveIt/OMPL will need a new release, and that will need to be synced to the public repositories.

It could take some time. Building OMPL from source on Kinetic -- and thus MoveIt as well -- will make it available earlier to you.

Note also btw that it's not certain that this is the cause of what you describe. It's a goo

[2018-04-28 19:16] gavanderhoorn commented on #25
I recommend you keep a close eye on ros-planning/moveit#416.

[2018-06-19 05:48] DongMuJi opened #26 "What is the function of this package now?"
Hi
Now I want to use this package. But I do not konw what is the function of this package now.
I also see a stack named staubli. What is different between staubi_experimental and staubli?
Thank you very much!

[2018-06-19 07:26] nilsmelchert commented on #26
Hi,

There is basicly no difference between those two packages. The only difference is, that the packages in [staubli_experimental](https://github.com/ros-industrial/staubli_experimental) are not fully tested yet. Am I right @gavanderhoorn ?

Both of them contain support packages of certain robots from staubli (a description of how to work with support packages can be found [here](http://wiki.ros.

[2018-06-19 07:48] gavanderhoorn commented on #26
@DongMuJi: @nilsmelchert is exactly right.

[2018-06-19 07:49] gavanderhoorn commented on #26
We should start migrating the packages in `staubli_experimental` to `staubli` though.

[2018-06-19 07:50] gavanderhoorn commented on #26
@nilsmelchert wrote:

One nitpick: let's not use the name "hardware interface" for `staubli_val3_driver`, but let's call it a "driver".

`hardware_interface` is a package in `ros_control` and that works quite differently from how `staubli_val3_driver` works.

[2018-06-19 08:39] nilsmelchert commented on #26
What would be the next steps to make this happen?
Since I am working with the tx60 and the tx90 robots (in gazebo simulation mode and with the staubli val3 driver for the CS8C Controller), I can confirm, that I have not had any problems with any of the packages.
The val3 driver works perfectly fine.

[2018-06-19 10:40] gavanderhoorn commented on #26
For all packages in `staubli_experimental` we can migrate them.

There is no fixed 'period' of time as it also depends on usage (ie: a bunch of pkgs sitting in a repository unused for 6 months is not a good indicator of stability, regardless of whether they see PRs or issues being reported).

But all packages in this repository have seen sufficient usage.

We'd need to start opening PRs migrating

[2018-06-19 10:52] nilsmelchert commented on #26
Well then I would just start creating PRs for the Tx90  and Tx60 support and gazebo packages.

If I get you right, there is a debate about moving the hardware drivers of ros industrial robots into an isolated repo.
I actually like that the location of the hardware driver. Since the Issue you mentioned is still open, I would recommend to also move the staubli_val3_driver to the staubli repo for now

[2018-06-19 10:55] gavanderhoorn opened #27 "Migration of pkgs to non-experimental repository"
Triggered by discussion in #26.

[2018-06-19 10:55] gavanderhoorn commented on #26
@nilsmelchert wrote:

the debate is about whether to move things *with* git history (ie: commits) or without. ros-industrial/ros_industrial_issues#49 touches on that, which is why I mentioned it.

Let's continue discussion of migration of pkgs in #27.

[2018-06-19 10:58] nilsmelchert commented on #27
So in order to create PRs for the staubli repository, I just fork the current master branch from the `staubli` repository and add the packages I want to migrate from the `staubli_experimental` repository manually?

[2018-06-19 10:58] gavanderhoorn commented on #27
@nilsmelchert wrote:

Tbh it doesn't make much sense to me to migrate the driver to `staubli` and *then* migrate it again to its own repository.

The issue is still open, as the migration/extraction hasn't happened yet, but the decision has already been made. See [gavanderhoorn/staubli_val3_driver](https://github.com/gavanderhoorn/staubli_val3_driver) for a prototype for `staubli_val3_driver`.

[2018-06-19 11:02] gavanderhoorn commented on #27
@nilsmelchert wrote:

at a high level, that is what needs to happen yes. But in order to make this a bit more of a structured process, and to make sure we don't completely disconnect things, there is a procedure to follow. As I wrote in https://github.com/ros-industrial/staubli_experimental/issues/26#issuecomment-398355070, I have that procedure documented, but it's not publicly accessible right n

[2018-06-19 11:08] nilsmelchert commented on #27
Alright. So are you going to make the process of migrating certain packages public?
How can I help?

[2018-06-19 11:09] gavanderhoorn commented on #26
@DongMuJi: as your question is not a software-related issue, but more a usage one, I'm going to close this here for now. I also believe @nilsmelchert has explained things quite well.

If you still have questions you can keep commenting on this issue though.

[2018-06-19 11:09] #26 closed, assigned to nobody

[2018-06-19 11:11] gavanderhoorn commented on #27
I'm really rather busy right now, so I'll see if I can find 20 mins somewhere to make it available. It won't be today though I'm afraid.

[2018-06-19 11:12] gavanderhoorn commented on #27
@nilsmelchert wrote:

and :+1: :100: for offering to help here btw, really appreciated.

[2018-06-19 11:12] gavanderhoorn commented on #25
Have you seen any improvement @nilsmelchert with the release of the new MoveIt+OMPL?

[2018-06-19 11:16] gavanderhoorn commented on #15
@nilsmelchert: is this perhaps something you would be interested in?

The current page is [wiki/staubli_val3_driver](http://wiki.ros.org/staubli_val3_driver).

You could take a look at the [fanuc_driver](http://wiki.ros.org/fanuc_driver?distro=indigo) one mentioned in the OP (see also the [installation tutorial](http://wiki.ros.org/fanuc/Tutorials/hydro/Installation)) and the Motoman [installation

[2018-06-19 12:51] nilsmelchert commented on #27
No worries. Let me know, when you want me to start.

[2018-06-21 08:23] DongMuJi commented on #26
@nilsmelchert :Thank you for your replay. Now we use this package with the real robot(RX160). We meet some issues.

1. Follow the [staubli_val3_driver](https://github.com/ros-industrial/staubli_experimental/tree/kinetic-devel/staubli_val3_driver)  README ,from the topic /joint_state, we can only see every joint position (no velocity and effort) . Is this right?

2. We try to use the moveit to cont

[2018-06-21 09:18] gavanderhoorn commented on #26
`staubli_val3_driver` supports joint position control only. No velocity or torque control.

It also only reports joint positions, but that could be extended to include velocity and effort if the VAL3 code is extended.

As to the warnings and errors: can you please show the exact commands that you are using to start things? What do you mean exactly with "robot module"?

Please also provide some mor

[2018-06-22 07:24] nilsmelchert commented on #25
To be honest, I have not worked with the robots for about a month. Do I have to compile MoveIt from source or is it already available via apt-get?

I will test it on monday and then present the results.

[2018-06-22 07:29] gavanderhoorn commented on #25
MoveIt & OMPL on Kinetic should have all the updates. No need for a source build.

[2018-06-22 07:30] nilsmelchert commented on #25
Ok. I will test if there is any improvement and then post the results.

[2018-06-22 07:35] gavanderhoorn commented on #25
One thing to check btw is that the `reach` and `leave` setting for each trajectory point in the driver is set to really low values, so the controller cannot do much blending.

That could also be the cause of some jittering.

See [this diff](https://github.com/ros-industrial/staubli_experimental/compare/indigo-devel...MPJansen:684da890) for another user that experimented a bit with that.

Ideally b

[2018-10-22 07:20] jacktnho commented on #26
Hello!
May i ask if the current package staubli_val3_driver support controlling the digital I/O ports of the CS8 controller?
many thanks!

[2018-10-22 14:09] nilsmelchert opened #30 "Melodic Migration"
Hi,
we are currently trying to migrate the staubli and the staubli_experimental package to the new ros distro melodic and would love to create a meldic-devel branch for both repositories.

While compiling the staubli package, the following error occurs:

[code]

Seems like that the old-style moveit packages are not compatible with melodic anymore. So the first step was to delete the moveit package

[2018-10-22 14:11] nilsmelchert commented on #26
As far as I know, the IO is not implemented so far. Nor are the effort values of the joint torques.
You are of course very welcome to create a PR for those new features.

[2018-10-23 15:16] gavanderhoorn commented on #30
This just looks like the expected `std::shared_ptr` vs `boost::shared_ptr` issue. Should not be too difficult to fix, but it's just the IK plugins, so easily circumvented by using a different plugin.

that is strange. Seeing as this is just showing RViz it doesn't know anything about being in collision or not.

Gazebo 9 changed some things around, especially with `gazebo_ros_control`. That is most

[2018-10-23 15:19] gavanderhoorn commented on #30
Everything being red could be related to https://github.com/ros-visualization/rviz/issues/1298.

[2018-10-24 08:37] VictorLamoine commented on #30
I confirm the bug @gavanderhoorn points out is the source of the robot being red.

[2018-11-02 19:24] gavanderhoorn commented on #26
@nilsmelchert is correct: there is no support for IO as exposed by the controller in `staubli_val3_driver`.

I would like to add that I don't believe we will be adding that any time soon as the currently accepted practice is to use a separate fieldbus (and accompanying ROS interface) to control IOs. Fieldbus are much more mature, standardised, come with a lot of tools, have a long history of worki

[2018-11-02 19:26] gavanderhoorn commented on #25
@nilsmelchert: has this improved at all for you?

[2018-11-07 10:27] nilsmelchert commented on #25
@gavanderhoorn I just tested it. And yes it works perfectly fine. Thanks!
I will close the Issue now.

[2018-11-07 10:33] nilsmelchert commented on #30
The gazebo package works fine with melodic now for the tx90 and tx60 series.

When I was trying to migrate the support packages of the robots for melodic, I had some Issues with RVIZ and the industrial_core package. Seems like they have now fully been migrated to ros medloic yet? Should I just wait a few more month and then start the melodic migration of this repository?

[2018-11-19 05:32] nilsmelchert commented on #15
Sure. I totally forgot about this Issue. I will take care of it.

[2018-11-19 08:16] nilsmelchert commented on #7
Good idea. Besides renaming "remap" to something more meaningful, I think using the ROS-Industrial driver spec compliant topics by default would be a good idea. Since this is a ROS-Industrial repo, it makes a lot of sense to work with the industrial convention in gazebo by default.

[2018-11-19 08:19] nilsmelchert commented on #7
What about extending the argument "remap" to something more meaningful like "ros_remapping", "ros_remap", "ros_i_remapping" or "ros_i_remap" and set the default value to true.

[2018-12-06 16:43] mwamp opened #31 "Adding compatibility for tx250"
Hi,
I'd like to create the model for the tx250 (as in [my fork](https://github.com/mwamp/staubli_experimental) ).
However I am having considerable trouble with the generation of an IKFast solution (which I do need very much). Openrave generates a file for me but I does not appear to yield correct results, basically there are no allowed positions for my robot.

My URDF works well in moveit so I can

[2018-12-06 18:38] gavanderhoorn commented on #31
I haven't tested anything, but I have the impression that you created the URDF using the SW2URDF plugin for SolidWorks.

That is possible, but you'll have to take extra care when defining the `origin`s for the joints, or the plugin will do a number on the orientations of the axes which leads to very complex math for IKFast (and its generator) to solve.

An example of this can be seen in the xacro

[2018-12-06 18:38] gavanderhoorn commented on #31
As this is not an issue with the packages in this repository I'll go ahead and close this.

Feel free to keep commenting on it though.

[2018-12-06 18:38] #31 closed, assigned to nobody

[2018-12-06 21:23] mwamp commented on #31
Thanks for the help.
Your impression is correct. I didn't really think through the fact that those awkward origins would mess things up. I would still expect the correct answer from ikfast though just not as fast.

Anyway I'll give it a shot, thanks.

[2018-12-07 09:10] gavanderhoorn commented on #31
The math (in the generator) is non-trivial -- take a look at Rosen's PhD thesis. Straightening out the transforms between joints helps in avoiding rounding errors and other causes of numerical instability.

[2018-12-07 09:12] nilsmelchert commented on #7
So if I did a PR for this, would you consider merging it? Or is there a reason not to do these changes?

[2018-12-08 14:21] mwamp commented on #31
So I straightened up some of the joints in my URDF. This time I got a clean no go from IK fast. Some things are very strange. One of them is that my first version gave 3 triplets of "unaligned joints" whereas the new one appears to have 4.

About the joint referred to earlier, I made some changes but didn't go 'all the way'. Actually there is a pair of 45° joints (4 and 5) making up the wrist of t

[2018-12-08 16:18] gavanderhoorn commented on #31
The TX 250 has a "complex wrist". In my experience IKFast sometimes has difficulties generating solutions for non-spherical wrist setups.

I can only suggest to follow [this workflow](https://answers.ros.org/question/263925) instead of the one explained in the various MoveIt tutorials. It's worked for me in the past where others failed.

Ignore the "4 dof" aspect of the Q&A and if you already have

[2019-04-12 17:14] nilsmelchert commented on #30
I am still having the same problem: The robot is still colored in red.

The Issue @gavanderhoorn and @VictorLamoine pointed out did apparently did not solve that problem.

[2019-04-12 17:17] gavanderhoorn commented on #30
Afaik the fix that has gone into `urdfdom_headers` has still not been released as a Debian/Ubuntu package update, so unless you are building that from source or are using the work-around (`LC_NUMERIC`), nothing has changed.

[2019-04-12 17:28] simonschmeisser commented on #30
Those packages are unfortunately not hosted by OSRF but are part of debian/ubuntu. If have filed a bug report asking for an update in Ubuntu Bionic but so far no reaction: https://bugs.launchpad.net/ubuntu/+source/urdfdom-headers/+bug/1817595

Please click: This bug affects me

Updated packages have been imported in Debian testing and made it into Ubuntu 19.04/Disco Dingo which is however not an L

[2019-04-13 09:38] nilsmelchert commented on #30
Done.

Thanks for the feed back.

[2019-04-13 09:55] nilsmelchert commented on #30
Is there a way how to speed up the release?

[2019-05-05 14:11] gonzalocasas opened #32 "Driver skips points in between trajectory"
The motion control task of the driver [skips trajectory points](https://github.com/ros-industrial/staubli_experimental/blob/kinetic-devel/staubli_val3_driver/val3/ros_server/motionControl.pgx#L51) when they match the current configuration.

Isn't there a missing check to ensure this only happens for the first point of a trajectory?
At least, that seems to be the [condition implemented on the ABB d

[2019-05-05 19:26] gavanderhoorn commented on #32
That looks like an incorrect implementation indeed: there's no way to guarantee that `herej()` will be called at the right time -- most likely it will be called at the wrong time, as you note.

[2019-05-09 05:55] nilsmelchert commented on #32
Could this problem cause the jerky trajectories that were mentioned in #25 ?

[2019-05-09 05:57] #25 closed, assigned to nobody

[2019-05-09 06:54] gonzalocasas commented on #32
It does cause trajectories to execute weirdly (depending on several factors, of course). We tested generating trajectories in MoveIt and then creating val3 code out of them and that works perfectly, so I would rule out MoveIt/OMPL as the source of jerkiness.

[2019-05-09 09:46] gavanderhoorn commented on #32
@gonzalocasas: did you already check whether removing that line improves things?

Should be relatively easy to check, just comment the line.

[2019-05-10 08:20] gonzalocasas commented on #32
@gavanderhoorn yes, I confirm. Removing the line indeed fixes the issue.

[2019-05-10 08:22] gonzalocasas commented on #32
I can send a PR for it as is (just removing the line), although, I wanted to check first whether it was still meaningful to do this check but move it to the execution loop, so that it actually does what it was intended to do. But I can also send the removal-line PR for now and then send the other if I see it makes sense... What would be preferable from your perspective?

[2019-05-10 12:33] gavanderhoorn commented on #32
Let's just remove the line.

I'm not sure it makes sense to add it back somewhere else, as `here()` will always have a delay / be desynced with the current state of the robot.

It *could* be that pruning points might make sense / improve performance when very dense trajectories are streamed in. In that case `here()` + a margin and filtering for that could be something to consider.

I don't have an

[2019-05-20 12:12] #32 closed, assigned to nobody

[2019-06-07 13:38] nilsmelchert commented on #30
The problem still exists. Am I the only one who is bothered by this?

It is really the biggest reason, why I haven't migrated my whole system to melodic yet.

[2019-06-07 14:13] simonschmeisser commented on #30
https://github.com/ros/urdfdom/issues/119 asks for a `Dockerfile` that proves the bug and the fix as the next step. You are very welcome to put that together.

[2019-06-07 17:14] nilsmelchert commented on #30
Well I have never used Docker in combination with a graphical interface. Besides that, I don't see how a single Dockerfile is supposed to point out the bug and the fix.

If you could point out, what exactly the behaviour of the Dockerfile should be and what kind of base image I should use, I would try to put that together.

[2019-07-11 14:25] simonschmeisser opened #34 "tx2 compatibility"
We are currently discussing about having some initial experiments/trial with stäubli in about a week and the customer seems to have a tx2-60. So I'm wondering if you expect this driver to be compatible to cs9 as well? Is there anything special to watch out for?

I'll add a pr for the support package later on of course

[2019-07-11 14:28] gavanderhoorn commented on #34
@gonzalocasas might respond later, but for now see [299054](https://answers.ros.org/question/299054) on ROS Answers.

Summarising: the current code is not compatible with CS9 controllers. Afaik, @gonzalocasas does have a version that works, but it hasn't been upstreamed yet.

[2019-07-11 14:48] simonschmeisser commented on #34
Thanks @gavanderhoorn  :) @gonzalocasas I could also provide some help or testing if needed. A code-dump of the current state would also be totally fine, no need for perfection ... yet ;)

[2019-07-11 15:14] gonzalocasas commented on #34
@simonschmeisser indeed, as @gavanderhoorn points out, we have a fork of the driver for the cs9 controller (we use 2 tx2-60l arms at the moment).

The only reason why I haven't pushed that yet is that ideally the code should work with both cs8 and cs9 but maybe for now, it's fine to branch and ignore cs8 support on that branch.

[2019-07-11 15:23] gonzalocasas commented on #34
I will push a branch in the later today so that you can give it a try.

For the most part, the driver seems to behave well, we are still testing it, and just today we noticed problems with very long trajectories, but nothing unsurmountable.

[2019-07-11 15:45] simonschmeisser commented on #34
Cool, much appreciated! :100:

What does "very long" mean? Number of trajectory points? Duration of movement? Distance between points?

[2019-07-11 16:54] gavanderhoorn commented on #34
There is a known issue with the default IRC (which is used in the `staubli_val3_driver` launch files) where trajectories with a duration over approx 4.6 hours cannot be encoded correctly due to the use of `float` instead of `double` for the time stamp field.

See https://github.com/ros-industrial/motoman/issues/244 for a description in the `motoman` repository.

It's an actual problem, but to be h

[2019-07-11 16:58] gonzalocasas commented on #34
Not that kind of long ;) We encountered issues when the number of points in a trajectory is large. We didn't test exactly where it breaks, but today we tried to send a 798-points trajectory and it stopped somewhere at around 127 points or so... I ran the same trajectory again, and the problem repeated but then it stopped at around 107 approx. I did not have time to debug any further, so I have no

[2019-07-11 17:01] gavanderhoorn commented on #34
"on the server side" you mean.

The VAL3 code includes all sorts of processing of points and adding them to internal queues, so perhaps this is a memory issue. There certainly isn't an upper bound on trajectory length in a streaming driver.

[2019-07-11 17:03] nilsmelchert commented on #34
@gonzalocasas If I understood you right, the syntax of the val3 language changed a bit?
So instead of creating a new branch, shouldn't we just create two subfolders for the `staubli_val3_driver`?
The hirachy would then look something like this:

For CS8C: `staubli_experimental/staubli_val3_driver/val3/cs8c`
For CS9C: `staubli_experimental/staubli_val3_driver/val3/cs9c`

Or is there a possible way

[2019-07-11 17:05] gonzalocasas commented on #34
yes, on the VAL3 server side.

exactly my suspicion. Despite the name in the queue processing, (the queue functions are named push and pop), the points are not really popped as they are executed (the trajectory buffers are only cleared at the end), so it holds all the points in memory until trajectory is completed.

[2019-07-11 17:06] gavanderhoorn commented on #34
yeah, that would be a problem, and essentially turns it into a downloading driver implementation.

[2019-07-11 17:15] gonzalocasas commented on #34
Almost, yes. Not entirely thou, because the motion control task indeed starts moving as soon as there are points in the queue, and it moves forward through the queue without waiting for the full trajectory to be in memory, but since it does not release any memory while it can, it's not really able to cope with streams of many points. (Disclaimer: all of this is very speculative, as said, only face

[2019-07-11 17:22] gonzalocasas commented on #34
@nilsmelchert val3 changed a bit, but only slightly. It's the UI-related functions that change, the move from text-based to html-based interface on the CS9 controller.

Having two folders is an option, but ideally, one code base that can cope with both controller versions would be better than having to copy the correct version to the controller. But I don't know if the language allows you to detec

[2019-07-11 17:24] gavanderhoorn commented on #34
We could potentially ask Staubli to assist us here.

The driver is most likely not the only VAL3 application that has to be ported from CS8 to CS9 environments.

I have some contacts at Staubli, but if any of you have some as well I would encourage you to ask them.

[2019-07-11 17:30] nilsmelchert commented on #34
I have exhibited at the [hannover fair](I also exhibited at the fair this year.) this year and talked to staubli representitives. They told me, that all of val3 code should be compatible with the new cs9c controller (Which is obviously wrong).

Since I am about to purchase another robot, I am pretty sure staubli willing to help when it comes to migrating "old" val3 code.

I will call them tomorrow

[2019-07-11 17:44] gavanderhoorn commented on #34
Would be especially interesting to know whether it'd be possible to do this in a bw compatible way.

Duplicating the code and adapting it for the CS9 is of course possible, but as @gonzalocasas writes, ideally we avoid that, as it also duplicates maintenance effort.

[2019-07-11 17:47] nilsmelchert commented on #34
Yes that's of course what I meant. I will ask, if there is a guideline of making the val3 code compatible for both controller types.

[2019-07-11 17:57] gonzalocasas commented on #34
@simonschmeisser 👉 here's the branch with the CS9 changes: https://github.com/gramaziokohler/staubli_experimental/tree/kinetic-devel-cs9

@nilsmelchert in case it helps to illustrate the problem, the main question mark for me is how to do [this global variable definition](https://github.com/ros-industrial/staubli_experimental/compare/kinetic-devel...gramaziokohler:kinetic-devel-cs9#diff-d357ca6041

[2019-07-11 19:28] gavanderhoorn commented on #34
No. Unfortunately I actually only have a CS9 myself (for a little while anyway).

[2019-07-11 22:54] nilsmelchert commented on #34
I have a cs8 controller available.

[2019-07-12 07:35] simonschmeisser commented on #34
@gonzalocasas thanks a lot, I'm glad I asked :smile:

[2019-07-12 12:05] gonzalocasas commented on #34
great! as soon as we hear back from Staubli via @nilsmelchert, I will update the fork and if you could give it a go on the real CS8, I can test it on our CS9.

[2019-07-12 18:29] nilsmelchert commented on #34
So, I talked to two different technical support engineers and both told me that `"every single val3 application is compatible with both, the cs8 and cs9 controllers"`.

Concerning the global variables, I got the same answer, that they are definitly compatible. They said the only thing that changed significantly is the GUI of the hand controller.

Sorry I clouldnt 't help you out for now. Since I d

[2019-07-12 20:16] gavanderhoorn commented on #34
which is what @gonzalocasas also already wrote:

Staubli appears to claim that no changes should be needed. @gonzalocasas claims they are needed.

[2019-07-13 23:05] gonzalocasas commented on #34
This is what happens if you have a variable of type `screen` in your globals:
![image](https://user-images.githubusercontent.com/933277/61177328-ee39ee80-a5d2-11e9-87e9-442e83f1b9b2.png)

I will try a few ways to workaround this in the next days, but my impression is that it is not really possible unless the variables can be locals, and then the loading is conditional to the controller version (bu

[2019-07-14 23:24] gonzalocasas commented on #34
It looks like there's hope ;) I tried moving the code that is specific to a controller version into a libraries, and then load the correct one for the controller dynamically using `libLoad()` and that *seems* to work.

I'm still not sure whether I can really do all that's needed from a library (loading user pages and so on), but at least the problem of not being even able to load the app due to th

[2019-07-15 07:32] gavanderhoorn commented on #34
Hm.

@gonzalocasas: would you see a possibility to give Staubli a call and ask them about the type issue directly?

I like dynamic loading of libraries as much as anyone, but if Staubli is so sure that things should-just-work (at least according to what @nilsmelchert tells us), perhaps we're missing something?

[2019-07-15 19:26] gonzalocasas commented on #34
Yep, of course, I'll do that tomorrow.

[2019-07-16 06:36] gonzalocasas commented on #34
I paste here verbatim the written answer of our Stäubli technical contact confirming the incompatibility:

[code]

[2019-07-16 07:25] nilsmelchert commented on #34
Either I got the wrong information or I couldn't get to the heart of the problem. In any case, I apologize for the wrong information.
As I said, I only have experience with the CS8 controller.

[2019-07-16 08:34] gonzalocasas commented on #34
@nilsmelchert no worries, it's anyway good to get official confirmation about this.

The next open question would be what approach we want to take:
  1. one app with dynamic lib loading
  1. two totally separate apps, one per controller
  1. one app + two folders with CS8 and CS9 specific code in them, and a deployment process that involves picking the right one and copying it to the controller

[2019-07-16 11:46] gavanderhoorn commented on #34
@gonzalocasas wrote:

exactly, that was what I was after.

we could refactor the code such that the display component is actually a stand-alone program, that gets its data from reading variables / exposed state from the actual driver.

I'm not sure that would be more efficient than just saying: "pick the correct version of *this* file" (where "this file" is the one that implements the display comp

[2019-07-16 23:16] gonzalocasas commented on #34
That's exactly what I started doing, and then load the program as a library with `libLoad()`

[2019-07-17 07:30] gavanderhoorn commented on #34
Ah, ok.

Then I'd misunderstood you.

[2019-07-23 13:37] simonschmeisser commented on #26
Highjacking this old question and knowing your objections @gavanderhoorn ;) ... how would I toggle the valve on `ValveIO\valve1` from VAL3?

[2019-07-23 13:37] simonschmeisser commented on #34
Just a quick feedback, I installed the program on a TX2-90L and it runs nicely so far, thanks a lot!

[2019-07-25 07:36] simonschmeisser commented on #34
Another potential incompatibility (?)
https://github.com/gramaziokohler/staubli_experimental/blob/kinetic-devel-cs9/staubli_val3_driver/val3/ros_server/ros_server.dtx#L35

I had to change this from
```<Value key="0" fatherId="flange[0]" ioLink="valve1" />```
to
```<Value key="0" fatherId="flange[0]" ioLink="ValveIO/valve1" />```
in order to be able to toggle the valve by setting
```tTool.gripper =

[2019-07-30 10:53] nilsmelchert opened #35 "Staubli-DH: Offset parser to URDF"
Hi,
buying a Staubli robot, you can additionally order a robot calibration, which consists of DH-Offsets. These identified offsets can then be found on the CS8 controller in the `arm.cfx` file and has the following format:
[code]

Where `OFFSET_IN_DEG` and `OFFSET_IN_MM` are the corresponding offsets of "their" DH-Representation. By "their", I mean, that the conventional DH notation consists only

[2019-08-01 15:42] gavanderhoorn commented on #34
Interesting that @gonzalocasas didn't run into this.

[2019-08-01 15:51] gavanderhoorn commented on #35
I would certainly be interested in adding support for this in some way to the staubli packages here.

It would be interesting to see whether and if so, how this connects to https://github.com/ros-industrial/universal_robot/pull/414.

that I wouldn't know right now.

FTP might be an option, but it would have to configured on the controller.

Might perhaps also be accessible through the XML-RPC serv

[2019-08-01 16:43] gonzalocasas commented on #34
In our project we don't have any gripper, only static tools, so we never toggle these valve settings.

[2019-08-01 17:28] gavanderhoorn commented on #34
But you load the same files as @simonschmeisser, no?

[2019-08-01 18:35] simonschmeisser commented on #34
there is no "compile" error, just nothing happens. Maybe some error can be read, don't remember

[2019-08-01 19:58] gavanderhoorn commented on #26
If you are asking how you'd do that using `staubli_val3_driver`, then I believe the answer would be: you'd have to add it, as there is no support for that right now.

I believe you've already done that in your fork though.

My recommendation for any production system would still be to use a proper fieldbus. Perhaps even `modbus` (for which several ROS packages exist).

[2019-08-02 13:48] nilsmelchert commented on #35
Our DH-Parameters actually consist of 6 parameters not of the conventional 4. Or what do you mean by "connects to"?

That is actually not a bad idea at all, since the log in data is always the same for each controller and the robot ip has to be entered anyways when using the val3 driver.

That would probably be the cleanest way I think. Is there actually a way to set up an XML-RPC server on the co

[2019-08-02 17:58] gavanderhoorn commented on #35
I was more referring to the approach that is being used in ros-industrial/universal_robot#414.

Afaik FTP security can be configured, so it wouldn't necessarily be identical for all controllers, but that's an implementation detail.

IIRC all CS8 controllers have a built-in XML-RPC server.

updating `robot_description` is not viable imo: it leads to race conditions too easily.

Updating the urdf co

[2019-08-04 18:20] nilsmelchert commented on #35
Where can I find the documentation to communicate with the xml rpc server? I had a quick look at the val3 handbook and the SRS2019 handbook.

I like the way you Pointed out of integrating the Offsete using yaml files. But writing a parser in order to convert the parameters to a valid ROS format is still needed right?
Would Python be ok for this repository or would you prefer c++?

[2019-08-05 08:16] gavanderhoorn commented on #35
I'm not entirely sure, it's been a while since I've worked with Staublis. I'll have access to one in about 2 weeks, so I could take a look then.

I might be mistaken, but I'm pretty sure there is one on CS8 controllers.

Well, "valid ROS format" would be `.yaml` in this case.

I'd stick with Python. Emitting `. yaml` (and parsing `.xml`) is much, much easier there.

[2019-08-05 08:31] nilsmelchert commented on #35
Alright. Will do that.

By valid, i meant the representation of transformations in xacro-files.

[2019-08-05 14:27] gavanderhoorn commented on #35
Ah, ok.

You're probably already aware, but all transforms are 6D transforms relative to the parent frame, using `xyz` (metres) and `rpy` (radians).

But `xacro` supports Python expressions these days, so it may be that it's more convenient to use a different representation in the `.yaml` and then use some math to get to an appropriate representation in the `.xacro`.

---

The referenced PR agains

[2019-08-05 17:53] nilsmelchert commented on #35
I had a look at that PR and everything you said sounds reasonable. The only thing I did not find was the "post-processing" script you just mentioned. Is it already available somewhere?
I might be able to compare it to my scripts.

Yes, I am aware of that. Besides that, I figured that staubli is using the `Cardan` representation, in contrast to ros and specifically xacro, where the RPY convention i

[2019-08-26 12:08] gavanderhoorn commented on #35
@nilsmelchert: I'm curious to know whether you've made any progress with this?

[2019-08-26 12:16] gavanderhoorn opened #36 "driver: compatibility with Scaras"
Somewhat of a note/experience log: last week I had a chance to test the driver with a CS8C/TS60 combo.

As I didn't have access to SRS, I implemented some very quick-and-dirty hacks to get the current driver to work with that system, mostly based on this https://github.com/ros-industrial/staubli_experimental/pull/10#issuecomment-231388342 (mostly replaced `jointRx` with `jointRs` and some other mi

[2019-08-26 12:16] gavanderhoorn commented on #36
A nicer implementation would be needed if/when we really want to add support for Scaras of course.

[2019-08-26 12:16] gavanderhoorn commented on #36
Closing as this is more of a note than an actionable item.

[2019-08-26 12:16] #36 closed, assigned to nobody

[2019-08-28 08:16] nilsmelchert commented on #35
@gavanderhoorn : I had to take a break concerning this small project due to some side projects in my job. But the first results looked pretty good.
I will continue working on this in about two weeks.

[2019-08-28 16:37] simonschmeisser opened #37 "Too many joints/tool0 overconstrained"
i was investigating some strange self-collisions we got with our tx2-90l model and finally found that there are joints from both
[code]
as well as
[code]
eg for tx90 in https://github.com/ros-industrial/staubli_experimental/blob/1ff47df23612ba242b711e00ed3e5a3764eaec28/staubli_tx90_support/urdf/tx90_macro.xacro#L214 and (ff) https://github.com/ros-industrial/staubli_experimental/blob/1ff47df23612b

[2019-08-28 16:57] simonschmeisser commented on #37
I suggest to fix it like this: https://github.com/isys-vision/staubli_experimental/commit/5cb02eb9fb3f0885759f5f065be2d34d0b23d096

[2019-08-28 18:28] gavanderhoorn commented on #37
Seems I missed that in the review of #22.

The correct sequence is: `link_6 -> flange -> tool0`.

See [Coordinate Frames for Serial Industrial Manipulators: flange](http://gavanderhoorn.github.io/rep/rep-0199.html#flange) and following sections for some rationale (wip, but I'd just be copy-pasting sections here).

[2019-08-30 11:01] nilsmelchert commented on #37
Yes, seems like I missed that.

[2019-08-30 14:56] #37 closed, assigned to nobody

[2019-09-02 16:33] simonschmeisser opened #39 "Strange accel override"
https://github.com/ros-industrial/staubli_experimental/blob/1355e50234063e5aed76f5e9a765c05080a72fef/staubli_val3_driver/val3/ros_server/pushMotion.pgx#L77

sets the acceleration (deceleration) to 9999 if velocity override is activated. This is motivated by a  reference to the manual and Val3's default value. However in said manual the acceleration is specified to be in percent, ie in the range of

[2019-09-02 17:34] gavanderhoorn commented on #39
Unfortunately I wouldn't know why it's set to `9999`.

The driver was written by @muhrix and colleagues during his time at Ocado and he no longer works there. He currently works for a company that either doens't let him work on OSS or makes it (very) difficult to do so.

If `60` works, we could see whether that would make more sense as a default.

[2019-09-21 17:35] gavanderhoorn commented on #35
Still interested in your progress @nilsmelchert: any updates?

[2019-11-23 15:40] gavanderhoorn commented on #39
@simonschmeisser: have you had any further feedback from your customer?

[2019-11-23 15:40] gavanderhoorn commented on #35
:bellhop_bell:

[2019-11-23 15:43] simonschmeisser commented on #39
I heard no further complaints but I'll ask them and report back here

[2019-11-23 16:09] gavanderhoorn commented on #39
Thanks.

Performance of `staubli_val3_driver` ignoring the acceleration issue?

[2019-11-25 22:03] marshallpowell97 commented on #34
I can confirm that the only major change between Val3 rev. 7 (CS8C) and rev. 8 (CS9) is the handling of the UI. There was a minor change in the way that the IO was mapped (@simonschmeisser figured it out). This would normally be done automatically in SRS so wouldn't be considered a major change. Everything else should work the same. I will test on a CS9 just to confirm.

[2019-11-25 22:24] gonzalocasas commented on #39
@simonschmeisser thanks for the hint; I will give it a try on our setup. I also noticed the motions were rather un-smooth as you mention, but never put in the time to check why, and this could be it.

[2019-11-26 07:37] gonzalocasas commented on #35
+1 to this idea, would love to take a look at your approach

[2019-11-26 08:05] gavanderhoorn opened #42 "High jerk at end of trajectories"
Reported on ROS Answers: [Industrial Robot Client sends wrong velocity on last waypoint?](https://answers.ros.org/question/338545).

It's unclear at the moment whether this is an issue in `staubli_val3_driver`, `industrial_robot_client` or somewhere else.

[2019-11-26 08:06] gavanderhoorn commented on #42
Related: #25 and #39.

On the `industrial_robot_client` side: ros-industrial/industrial_core#247.

[2019-11-26 08:22] gavanderhoorn commented on #34
@marshallpowell97: thanks for your comment.

but the controller doesn't do this, correct? If users would copy the `val3_driver` sources directly to the controller they would have to change it manually?

[2019-11-26 09:03] gavanderhoorn commented on #42
@marshallpowell97: tracking this issue here.

[2019-11-26 09:30] nilsmelchert commented on #35
Hi,
sorry for responding this late. I am currently very busy with other things such as student lectures ;-)

I still have not forgotten this little project and get back at it as soon as I can. Probably in about 2 weeks.

[2019-11-26 09:34] gavanderhoorn commented on #35
Is there anything you could use help with?

[2019-11-26 09:41] nilsmelchert commented on #35
I might. But first I would have to describe the approach that I am following mathematically here.
Is there a way to compile Latex in github issues?

[2019-11-26 09:49] gavanderhoorn commented on #35
Not really convenient, but a few options:

 - https://gist.github.com/a-rodin/fef3f543412d6e1ec5b6cf55bf197d7b (for simple stuff)
 - https://stackoverflow.com/questions/11256433 (using image generation/rendering service)

perhaps nicer (but require some setup):

 - https://github.com/leegao/readme2tex (command line tool)
 - https://github.com/agurodriguez/github-texify (github webapp version of th

[2019-11-26 13:39] marshallpowell97 commented on #34
That's correct.

[2019-11-26 13:56] simonschmeisser commented on #34
@marshallpowell97 do you know about a way to ``#ifdef`` those incompatibilities so that we can continue to have one code base for both CS8 and CS9 ?

[2019-11-26 17:01] marshallpowell97 commented on #34
There isn't a super clean way to do it, but `getVersion("System")` will return a string with the version of SRC (the firmware on the controller). "s8. ..." will be CS9 and "s7. ..." will be CS8C. So something like:
[code]
Would work. All of the UI and the IO would need to be moved to a library, but the main code base could be kept the same.

[2019-11-26 17:29] gonzalocasas commented on #34
Yup, that's what I tried back then: https://github.com/ros-industrial/staubli_experimental/issues/34#issuecomment-512037426

It worked fine, but we were not sure if that was the official Stäubli way to achieve it.

@gavanderhoorn should I go in that direction and send a PR then?

[2019-11-26 17:31] gavanderhoorn commented on #34
Yes, please.

With a PR we can discuss the approach.

[2019-11-26 19:37] marshallpowell97 commented on #39
I can confirm that accel is expressed as a percentage and has a default value of 100. There is essentially no upper limit on accel (up to 99999%) and putting in a value higher than 100% will cause the arm to attempt that acceleration.

[2019-11-26 19:56] gavanderhoorn commented on #39
Ok.

If we can come up with a better default, we could change the current value.

[2019-11-27 17:23] nilsmelchert commented on #35
The latter looks interesting. I will create a repo and link it as soon as I am done.

[2019-12-02 21:31] lepalom opened #43 "Moving a real robot"
I have tested this repo. I have build all the packages and installed the val3 driver with success.

I can communicate with the real robot and receive and check the position of the real robot. But, I'm blocked because I don't know ho to move the **real** robot. Please, could you write some lines, or some launch file showing how to move the real robot, for instance using joint_state_publisher?

[2019-12-03 19:17] gavanderhoorn commented on #43
May I then assume you've followed the steps in the readme of `staubli_val3_driver`?

And you can run the `robot_interface_streaming.launch` as indicated in the [Run the industrial_robot_client node (ROS-I client)](https://github.com/ros-industrial/staubli_experimental/blob/b4a0d23e54c7f48b5f043314517d782e1cc344de/staubli_val3_driver/README.md#run-the-industrial_robot_client-node-ros-i-client) sect

[2019-12-03 19:17] gavanderhoorn commented on #43
As this is not an issue with the packages in this repository, I'm going to close it.

Feel free to keep commenting on it of course.

[2019-12-03 19:17] #43 closed, assigned to nobody

[2019-12-04 07:33] nilsmelchert commented on #43
@lepalom it could also be a hardware "problem". If you want to work with a real robot, you have to set it to the external mode first. You do this by turning the key to the correct position on the emergency stop provided. Furthermore you have to make sure that the brakes of the robot are released.

[2019-12-04 08:40] lepalom commented on #43
Yes, and they worked.

Yes, and when I move the robot manually the rviz is updated.

So, may I understand that I have to send a complete trajectory to the robot? or, could I send positions/velocities every 4 ms as val3 programs can do?

The UR driver let you send positions, and I'm asking if the val3 driver has similar functionality.

In any case, thanks for the reply.

[2019-12-04 08:42] lepalom commented on #43
@nilsmelchert thanks, just a misunderstanding with ros industrial features.

[2019-12-04 08:53] gavanderhoorn commented on #43
`staubli_val3_driver` does not support position streaming at this point.

It's trajectory based.

From a look through the sources there don't appear to be any blockers to add that functionality, it's just that no one has done it yet.

Both `ur_modern_driver` and `ur_robot_driver` are `ros_control` based and internally use a rather different approach to interfacing with the robot.

The two approach

[2019-12-04 09:38] lepalom commented on #43
So, should I make an issue to add this functionality? ;-) and yes, probably you will answer or make a PR adding it.

Sending point by point a trajectory is an interesting feature.

[2019-12-04 11:06] gavanderhoorn commented on #43
Yes, please do.

I'm not entirely sure, but it could be that both `staubli_val3_driver` and `industrial_robot_client` need to be changed to support this.

[2019-12-07 20:40] bprice-parc commented on #42
Simon Schmeisser suggested that we plot the actual position of the robot against the plan. We have tried to do that in the referenced figure (we used a heuristic alignment of planned and measured position).

We note that reducing the joint velocity limit in joint_limits.yaml to 0.75 scales the planned velocity down correctly to 0.75, but the robot controller still falls behind.

![plot](https://us

[2019-12-08 14:11] gavanderhoorn commented on #42
ISO 10218 specs 250mm/s maximum for Cartesian motions in manual modes.

If you control the robot with joint space moves having the robot in manual mode will limit performance, yes. But that would be universal across all industrial robots that adhere to 10218.

You'll have to either make sure the translational velocity of the TCP does not exceed 250 mm/s for all your trajectories, or place your rob

[2019-12-09 16:42] marshallpowell97 commented on #42
@bprice-parc the maximum linear velocity set from the MCP is only applied to motions in manual mode. The percentage maximum velocity calculation does not take this into account. There is not a way to set a linear velocity limit without using a safety configuration on the DSI board (requires a license). The reasoning is that since it is not safety rated, Staubli does not want customers to use it in

[2019-12-09 18:17] bprice-parc commented on #42
After reading the Staubli ARM manual it appears there are two different velocities specified for each joint. A maximum velocity and a nominal velocity (See Figure 2.10 in Section 2.5.1 Range,Speed,Resolution,Repeatability page 27/86 in Staubli Arm TX series 60 family instruction manual) .  The nominal values are somewhere around 50%-80% of the maximum values. If we set the joint_limits.yaml veloci

[2019-12-09 18:26] gavanderhoorn commented on #42
@marshallpowell97: are you saying that it's possible for Stäubli robots to move with a TCP speed `>` 250mm/s in manual mode when commanding joint space moves?

That would be contrary to what I know from 10218 and other industrial robots (and my experience with Stäubli controllers).

[2019-12-09 18:27] gavanderhoorn commented on #42
@bprice-parc wrote:

This is a nice discovery, and not something I'd expected.

Maximum joint velocity values should be just that: maximum joint velocities attainable during a motion.

@marshallpowell97: would you have any comment about how this works?

[2019-12-09 18:34] bprice-parc commented on #42
One of the complexities here is that there are multiple levels of controllers involved. We are not running on the robot itself, but on top of the Staubli motion controller which may be running far away from physical maximums.

[2019-12-09 18:40] gavanderhoorn commented on #42
True, but that manual is all we have when it comes to information about what the robot should be able to do.

It seems like a normal assumption to make as a user that if the manual states that N rad/s is achievable by the robot, the controller would be configured to allow that as well.

At least, that's what my experience is with other robot manufacturers.

[2019-12-09 19:13] bprice-parc commented on #42
Reviewing the table, there is a note (2) which states the "Maximum" values are for "reduced ... load and inertia". So maybe this capability has to be specifically enabled if you know the robot is not actuating a large load in addition to its own mass.

![image](https://user-images.githubusercontent.com/12902016/70464863-a2517f80-1a74-11ea-8898-a3a080e780a6.png)

[2019-12-09 19:17] gavanderhoorn commented on #42
Yes, I was just checking as well.

This could simply have been a misunderstanding on the part of the robot support package author.

We should verify for all models and rectify.

For the TX-60 specifically, we should reduce the limits to what the table you included show.

[2019-12-09 19:34] marshallpowell97 commented on #42
No, sorry, I was referring to auto and remote modes, which are able to run a full speed.

I'm not super familiar with the nominal/maximum joint speeds since we typically only work with cartesian speeds. From what I understand, the maximum is only possible when using a low payload and with VEL in the motion descriptor set to >100% (there is not an upper limit, so I am not sure what the actual % wou

[2019-12-09 19:54] simonschmeisser commented on #42
@bprice-parc good plots, did you mean to include four of them in the last comparison? By "updated" you mean reduced from "Maximum" to "Nominal"? Does the manual actually give values for acceleration limits?
@gavanderhoorn Sorry but our customer just had the tx2-90 lend to them for a demonstration and they currently don't have one. There should be another demonstration (with the tx2-90xl) upcoming

[2019-12-09 20:08] bprice-parc commented on #42
The behavior using the parameters from the original Staubli Experimental TX 60 config are in the plot contained in the post from 2 days earlier. You can see that the robot gets ahead of plan early on due to acceleration being higher than expected, but falls far behind as the target velocities were above what the controller actually achieved resulting in a large catchup at the end.

Yes. The values

[2019-12-15 21:38] gavanderhoorn commented on #42
My suggestion would be to replace all joint limits (in all packags) with the ones listed in the *Nominal* rows.

[2020-01-10 18:23] marshallpowell97 opened #45 "Velocity Override does not have correct effect"
https://github.com/ros-industrial/staubli_experimental/blob/b4a0d23e54c7f48b5f043314517d782e1cc344de/staubli_val3_driver/val3/ros_server/pushMotion.pgx#L72-L79
Sets the velocity to the value set on the teach pendant if 'velocity override' is enabled. This does not seem to work as intended since the velocity set on the pendant already "overrides" whatever value is set in the Val3 code. The result i

[2020-01-10 19:44] gavanderhoorn commented on #45
I'm not entirely sure what this code was supposed to achieve either.

This was all added in #10 and unfortunately the contributor of that is no longer around.

I suggest we remove this, and the associated code in the UI files.

@nilsmelchert @simonschmeisser: have you ever used this and did it work for you as expected?

[2020-01-11 11:22] simonschmeisser commented on #45
Unfortunately we currently don't have access to a Stäubli and I went on summer holidays after getting the thing to run so I haven't collected that much experience but ...

I image the original intention, which might have been achieved or not, was to actually speed up execution of trajectories? At least that would be problem we keep pushing ahead and not addressing. Basically if you set velocity le

[2020-01-16 17:48] gavanderhoorn opened #46 "Migration of staubli_val3_driver to its own repository"
As a consequence of the consensus reached in ros-industrial/ros_industrial_issues#49, I've extracted `staubli_val3_driver` out of this repository and have created a new repository that hosts just the driver. You may find it at [ros-industrial/staubli_val3_driver](https://github.com/ros-industrial/staubli_val3_driver).

I've tried to retain as much of the commit history as possible (and where it ma

[2020-01-16 17:49] gavanderhoorn commented on #46
If any of the current users feel it's not a good idea to separate the driver from this repository, you have till 2020-01-23 to comment here and provide some rationale.

On 2020-01-24 I will `git rm -r staubli_val3_driver` from this repository.

Nothing else will change, so previous commits and history of `staubli_val3_driver` will be retained here. If you currently have a fork of `staubli_experime

[2020-01-16 17:50] gavanderhoorn commented on #46
@marshallpowell97: I realise this will complicate your work somewhat, as you should fork the new repository and migrate your commits.

Let me know if you'd like me to assist you with this.

[2020-01-16 21:24] marshallpowell97 commented on #46
@gavanderhoorn Should be no problem. I like the idea of having a separate repo. I won't be able to add any more to my fork until next month (busy time of the year for us), but I can go ahead and migrate my commits and submit a PR.

[2020-01-16 21:33] gavanderhoorn commented on #46
Submitting a PR would be good, as it would allow us to discuss the approach(es) you've taken.

I would encourage you to do that.

---

Edit: and just to be extra clear: a PR against the new repository :)

But don't throw away your old fork yet. It may be that there is some community member which has a very strong argument for *not* migrating the driver to its own repository.

[2020-01-16 21:45] marshallpowell97 commented on #46
Would it be okay to have all the changes in a single commit, or is it preferred to have each individual change in its own commit?

[2020-01-16 21:50] gavanderhoorn commented on #46
I would actually prefer to have logical, coherent sets of changes in separate commits. So not necessarily individual changes, but also not everything in one large one.

That would facilitate both review as well as management of changes.

A good heuristic I sometimes use is to keep a working system in mind and think about how a set of changes would affect it: one way to then structure commits would

[2020-01-16 21:54] marshallpowell97 commented on #46
Awesome, I will submit the PR tomorrow once I have everything migrated.

[2020-01-17 21:22] gavanderhoorn commented on #35
Still interested in this :)

[2020-01-24 18:54] #46 closed, assigned to nobody

[2020-01-31 11:51] simonschmeisser commented on #30
This should be fixed by now, can you confirm @nilsmelchert ?

[2020-02-04 08:06] nilsmelchert commented on #30
@simonschmeisser Yes, the coloring looks good!
Thanks for your effort!

The only thing that remains with this issue is the error message regarding missing PID parameters in gazebo. But that is a whole different topic.

[2020-02-04 10:35] gavanderhoorn commented on #30
Closing this then.

[2020-02-04 10:35] #30 closed, assigned to nobody

[2020-05-13 20:24] iamnotedible opened #50 "TX40 gazebo"
Hi all,

Is the model for Staubli TX40 available in gazebo?
@johnwason

[2020-05-13 20:32] gavanderhoorn commented on #50
All the packages we have here are what you can see in the repository (and in `ros-industrial/staubli`).

So no, right now we don't have a support package nor Gazebo support for the TX40 here.

[2020-05-13 20:38] gavanderhoorn commented on #50
I just remembered I had seen at least a support package somewhere recently, and found it: [Tomiliat/Staubli_backup/staubli_ws/src/staubli_tx40_support](https://github.com/Tomiliat/Staubli_backup/tree/0932e66c12cec5fc2774c96f63d895cdcdeb9b07/staubli_ws/src/staubli_tx40_support).

Note: I haven't used this myself, nor have I verified it is correct.

I cannot say anything about the state of it.

[2020-05-13 20:41] iamnotedible commented on #50
@gavanderhoorn
Thanks for pointing it out, I'll try it out.

[2020-05-13 23:28] #50 closed, assigned to nobody

[2020-05-14 09:47] gavanderhoorn commented on #50
@hehonglu123: what was the conclusion here?

[2020-05-14 15:08] iamnotedible commented on #50
The urdf seems to have collision problem on my side in gazebo, it loads fine after I commenting out the collision element. It can be loaded to tesseract with collision element directly.

[2020-05-15 20:18] iamnotedible commented on #50
I just found out it doesn't quite look like the actual tx40, and the model is always spawned in the world center and not able to drag it around.
![staubli_tess](https://user-images.githubusercontent.com/44752310/82092547-7ee7cc00-96c7-11ea-8681-b8df1fc1dff6.png)
![Screenshot from 2020-05-15 16-18-01](https://user-images.githubusercontent.com/44752310/82092632-aa6ab680-96c7-11ea-994d-b4353c9e308a.p

[2020-05-16 11:11] gavanderhoorn commented on #50
That doens't look good, no.

Seems you'll have to create the support package yourself then.

thanks for letting us know.

[2020-05-16 11:11] gavanderhoorn commented on #50
Oh and if you do end up creating a support package for the TX40, please consider submitting a PR to add it here to the repository.

[2020-09-10 15:19] SinaMirrazavi commented on #50
There is a normal version which be found here:
https://github.com/Tomiliat/Staubli_backup/tree/master/staubli_ws/src/staubli_tx40_support/meshes/visual/normal
I don't know how accurate the model is , but .stl files seem visually fine.

[2021-01-08 12:53] Avdbergnmf opened #51 "Missing staubli_rx160_support?"
The staubli_rx160_support pkg seems to be missing, or am I the one missing something?

[2021-01-08 12:58] gavanderhoorn commented on #51
You've probably not seen [ros-industrial/staubli/staubli_rx160_support](https://github.com/ros-industrial/staubli/tree/f58f43cb55f7c9afe5b35e1e299b2aec06cec14a/staubli_rx160_support)?

[2021-01-08 12:58] #51 closed, assigned to nobody

[2021-01-08 13:10] Avdbergnmf commented on #51
Perfect, thank you. And excuse me for not finding that sooner!

[2021-01-08 13:15] gavanderhoorn commented on #51
No need to apologise.

[2021-02-01 15:26] Niknu opened #52 "Melodic?"
Hi does this one also support melodic?

[2021-02-01 15:29] gavanderhoorn commented on #52
There is nothing ROS version specific here, so yes, you should be able to build everything in a Melodic workspace.

[2021-02-01 15:29] #52 closed, assigned to nobody

[2021-02-01 15:30] gavanderhoorn commented on #52
The Gazebo configurations might need tweaking though, but that's always the case when you migrate between major Gazebo versions.

[2021-04-30 09:39] gavanderhoorn commented on #35
While I (and others) would still be interested in this, I guess @nilsmelchert is not working on this any more.

Closing for now.

We can re-open at a later time.

[2021-04-30 09:39] #35 closed, assigned to nobody

[2021-09-23 10:43] Wifi-cable opened #55 "Ways to contribute to this Project"
Hello,
As requested on ROS-Discourse I write an issue on the Github Repro of this driver. Currently I'm looking to learn more about every aspect of ROS, since working with ROS and this driver in particular  will soon be part of my job. I would like to be able to do something, that benefits the Robot community as a final year project. (Bachelors Thesis)  I was suggested a wide range of topics. (not